@layer code {
  code {
    /* expressive-code applies a font size for it's code blocks (see
    `expressiveCode` in astro config). For other code, e.g. inline in a heading,
    inherit instead. */
    font-size: inherit;
  }
}

@layer overrides {
  .expressive-code {
    margin: 1em 0;
  }

  /**
    * Let's us draw ASCII diagrams (e.g. for binary)
    */
  [data-language="ascii"] code {
    font-family: var(--font-ascii-diagram);
    line-height: var(--line-height-tighter);
  }
}
