@import "@/styles/custom-media-queries.css";

@layer code {
  code {
    /* expressive-code applies a font size for it's code blocks (see
    `expressiveCode` in astro config). Set it for other code, like inline code
    in mdx */
    font-size: 16px;
  }
}

@layer overrides {
  .expressive-code {
    margin: 1em 0;
  }

  /**
    * Let's us draw ASCII diagrams (e.g. for binary)
    */
  [data-language="ascii"] code {
    font-family: var(--font-ascii-diagram);
    line-height: var(--line-height-tighter);
  }
}
