<style>
  @layer components {
    span {
      filter: grayscale(1);
      flex-basis: 50px;
      flex-shrink: 0;
      height: 50px;
      display: flex;
      padding-top: 2px;
      justify-content: center;
      margin-right: 1.25rem; /*5*/
    }
  }
</style>

<span><slot /></span>
