@import "@/styles/custom-media-queries.css";

@layer global {
  :root {
    /* Typography and colors */
    font-family: var(--font-inter);
    background: var(--bg);
    color: var(--text);
    transition:
      color var(--durations-color-scheme),
      background var(--durations-color-scheme);

    /* Scrolling behavior */
    scroll-padding-block-start: var(--spacing-3);
    scroll-behavior: smooth;
    @media (--reduced-motion) {
      scroll-behavior: auto;
    }

    /* Text selection */
    ::selection {
      background: var(--bg-selection);
      color: var(--text-selection);
    }

    body {
      min-height: 100vh;
      margin-trim: block;

      @supports not (margin-trim: block) {
        /**
         * Prevent margin collapse between the body and its first/last children,
         * which would could result in the body being larger than 100vh.
         */
        padding-block: 0.05px;
      }
    }

    /* Links */
    a,
    a:visited {
      color: var(--text);
      transition: color var(--durations-color-scheme);
      text-decoration: var(--link-text-decoration, underline);
    }

    a:hover {
      color: var(--accent-primary); /* TODO Revisit */
      transition: none; /* When a person hovers a link it should change color instantly */
    }

    /* Headings */
    h1 {
      margin-top: 3rem;
      font-size: 2.5rem;
      @media (--sm-up-viewport) {
        font-size: 4rem;
      }
      font-weight: 800;
      line-height: var(--line-height-tighter);
    }
    /* Section headings and Table of Contents heading */
    h2 {
      margin-top: 2rem;
      font-size: 1.5rem;
      @media (--sm-up-viewport) {
        font-size: 3rem;
      }
      font-weight: 700;
      line-height: var(--line-height-tight);
    }
    h3 {
      font-size: 1.25rem;
      @media (--sm-up-viewport) {
        font-size: 1.5rem;
      }
    }
    h4 {
      font-size: 1.25rem; /* don't go lower than 1.25rem or 20px, since body text is 20px */
      @media (--sm-up-viewport) {
        font-size: 1.2rem;
      }
    }
    h5,
    h6 {
      font-size: 1.25rem; /* don't go lower than 1.25rem or 20px, since body text is 20px */
      @media (--sm-up-viewport) {
        font-size: 1rem;
      }
    }
    h3,
    h4,
    h5,
    h6 {
      font-weight: 600;
      line-height: var(--line-height-tight);
    }

    :is(h2, h3, h4, h5, h6) {
      margin-block: var(--spacing-6) var(--spacing-4);
    }

    :is(h1, h2, h3, h4, h5, h6) {
      text-wrap: pretty; /* not supported everywhere yet, but there isn't a good fallback (balance isn't a good value for global css) */
    }

    /* Heading links */
    :is(h1, h2, h3, h4, h5, h6) > a {
      text-decoration: inherit;

      &:hover {
        text-decoration: underline;
      }
    }

    /* Paragraphs */
    p:not(:first-child) {
      margin-block-start: var(--spacing-5);
    }

    p:last-child {
      margin-block-end: var(--spacing-2);
    }

    &[data-theme="dark"] :is(img, svg)[data-invertible] {
      filter: invert(100%);
      transition: filter var(--durations-color-scheme);
    }

    em {
      font-style: italic;
    }

    /* set default styles for buttons or mobile safari will make them blue */
    button {
      background: var(--bg-card);
      color: var(--text-card);
      transition:
        color var(--durations-color-scheme),
        background var(--durations-color-scheme);
    }

    kbd {
      background-color: #eee;
      border-radius: 3px;
      border: 1px solid #b4b4b4;
      box-shadow:
        0 1px 1px rgba(0, 0, 0, 0.2),
        0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
      color: #333;
      display: inline-block;
      font-weight: 700;
      line-height: 1;
      padding: 2px 4px;
      white-space: nowrap;
      font-size: 1rem;
    }
  }
}
