@import "./colors.css";

@layer tokens {
  :root {
    --text: light-dark(var(--color-dark), var(--color-off-white));
    --text-card: light-dark(var(--color-dark), var(--color-off-white));
    --text-faded: light-dark(var(--color-gray-400), var(--color-gray-600));
    --text-tag: light-dark(var(--color-dark), var(--color-off-white));
    --text-footer: light-dark(var(--color-black), var(--color-off-white));
    --text-highlight: light-dark(var(--color-dark), var(--color-dark));
    --bg: light-dark(var(--color-light), var(--color-dark));
    --bg-card: light-dark(
      var(--color-gray-100),
      var(--color-dracula-background)
    );
    --bg-tag: light-dark(
      var(--color-gray-100),
      var(--color-dracula-background)
    );
    --bg-footer: light-dark(
      var(--color-sunset-blvd),
      var(--color-dracula-background)
    );
    --bg-highlight: light-dark(#fff8dc, #fceaa8);
    --border-table: solid
      light-dark(var(--color-gray-300), var(--color-gray-700)) 1px;
    --text-selection: light-dark(var(--color-black), var(--color-black));
    --bg-selection: light-dark(
      var(--color-electric-blue),
      var(--color-seafoam)
    );
    --accent-primary: light-dark(var(--color-fuchsiaish), var(--color-seafoam));
  }

  :root {
    --line-height-none: 0;
    --line-height-tighter: 1;
    --line-height-tight: 1.25;
    --line-height-normal: 1.5;
    --line-height-loose: 2;
  }

  :root {
    --border-radius-sm: 0.25rem;
    --border-radius-md: 0.375rem;
    --border-radius-lg: 0.5rem;
  }

  :root {
    --durations-fastest: 50ms;
    --durations-faster: 100ms;
    --durations-fast: 150ms;
    --durations-normal: 200ms;
    --durations-slow: 300ms;
    --durations-slower: 400ms;
    --durations-slowest: 500ms;

    /* no transitions initially */
    --durations-color-scheme: 0;

    &[data-theme] {
      /* enable transitions once we've added the appropriate class */
      --durations-color-scheme: var(--durations-fast);
    }
  }

  :root {
    --breakpoints-tiny: 320px;
    --breakpoints-sm: 640px;
    --breakpoints-md: 768px;
    --breakpoints-lg: 1024px;
    --breakpoints-xl: 1280px;
  }

  :root {
    --spacing-0: 0;
    --spacing-half: 0.125rem;
    --spacing-1: 0.25rem;
    --spacing-2: 0.5rem;
    --spacing-3: 0.75rem;
    --spacing-4: 1rem;
    --spacing-5: 1.25rem;
    --spacing-6: 1.5rem;
    --spacing-7: 1.75rem;
    --spacing-8: 2rem;
    --spacing-9: 2.25rem;
    --spacing-10: 2.5rem;
    --spacing-11: 2.75rem;
    --spacing-12: 3rem;
  }
}
