---
export type Props = {
  children: unknown;
};
---

<style>
  div {
    margin: var(--spacing-5);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  html[data-theme="dark"] .light {
    display: none;
  }

  html[data-theme="light"] .dark {
    display: none;
  }
</style>

<div>
  <!-- 
  the svgs conflict with each other (same id, conflicting styles) so stick them
  in shadow roots
  -->
  <span class="light"
    ><template shadowrootmode="open"><slot name="light" /></template></span
  >

  <span class="dark"
    ><template shadowrootmode="open"><slot name="dark" /></template></span
  >
</div>
