---
export type Props = {
  children: unknown;
};
---

<style>
  @layer components {
    .question-heading :global(:is(h1, h2, h3, h4, h5, h6)) {
      margin-bottom: 0;
    }
  }
</style>

<div class="question-heading"><slot /></div>
