---
export type Props = {
  kind: "pill" | "inline" | "navPill" | "title";
};

const { kind } = Astro.props;
---

<style>
  @layer components {
    li {
      padding: var(--spacing-5);

      /* background clips descenders if we go any tighter */
      line-height: var(--line-height-tight);

      color: var(--text-tag);
      background: var(--bg-tag);
      border-radius: var(--border-radius-sm);
      transition:
        color var(--durations-color-scheme),
        background var(--durations-color-scheme);
      padding: var(--spacing-half);
      font-size: 14px;
      overflow-wrap: initial;

      &.pill {
        margin-right: var(--spacing-half);
      }

      &.inline,
      &.title {
        display: inline;
        font-size: inherit;
      }

      &.inline {
        padding-inline: var(--spacing-3);
      }

      &.navPill {
        margin-right: var(--spacing-half);
      }

      @media (--lg-up-viewport) {
        &.navPill {
          color: var(--text-faded);
          & > :global(a:not(:hover)) {
            color: inherit;
          }
        }
      }
    }
  }
</style>

<li class={kind}><slot /></li>
