---
import Callout from "./Callout.astro";
import type { LanguageCode } from "./Language.astro";
import Language from "./Language.astro";

export type Props = {
  /* eslint-disable @typescript-eslint/no-unsafe-assignment */
  language: LanguageCode;
  link: string;
  attributionName: string;
  attributionLink: string;
};

const { language, link, attributionName, attributionLink } = Astro.props;
---

<style>
  @layer components {
    a.language {
      font-weight: 700;
    }
  }
</style>

<Callout>
  {/* eslint-disable @typescript-eslint/no-unsafe-assignment */}
  <a href={link} class="language"><Language language={language} /></a>{" "}
  translation available (courtesy of{" "}
  <a href={attributionLink}>{attributionName}</a>)
</Callout>
