    /*
    Flaticon icon font: Flaticon
    Creation date: 11/03/2019 08:05
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-001-bunny:before { content: "\f100"; }
.flaticon-002-bunny-1:before { content: "\f101"; }
.flaticon-003-bunny-2:before { content: "\f102"; }
.flaticon-004-bunny-3:before { content: "\f103"; }
.flaticon-005-bunny-4:before { content: "\f104"; }
.flaticon-006-bunny-5:before { content: "\f105"; }
.flaticon-007-bunny-6:before { content: "\f106"; }
.flaticon-008-bunny-7:before { content: "\f107"; }
.flaticon-009-bunny-8:before { content: "\f108"; }
.flaticon-010-bunny-9:before { content: "\f109"; }
.flaticon-011-bunny-10:before { content: "\f10a"; }
.flaticon-012-bunny-11:before { content: "\f10b"; }
.flaticon-013-bunny-12:before { content: "\f10c"; }
.flaticon-014-bunny-13:before { content: "\f10d"; }
.flaticon-015-bunny-14:before { content: "\f10e"; }
.flaticon-016-bunny-15:before { content: "\f10f"; }
.flaticon-017-bunny-16:before { content: "\f110"; }
.flaticon-018-bunny-17:before { content: "\f111"; }
.flaticon-019-bunny-18:before { content: "\f112"; }
.flaticon-020-bunny-19:before { content: "\f113"; }
.flaticon-021-bunny-20:before { content: "\f114"; }
.flaticon-022-bunny-21:before { content: "\f115"; }
.flaticon-023-bunny-22:before { content: "\f116"; }
.flaticon-024-bunny-23:before { content: "\f117"; }
.flaticon-025-bunny-24:before { content: "\f118"; }
.flaticon-026-bunny-25:before { content: "\f119"; }
.flaticon-027-bunny-26:before { content: "\f11a"; }
.flaticon-028-bunny-27:before { content: "\f11b"; }
.flaticon-029-bunny-28:before { content: "\f11c"; }
.flaticon-030-bunny-29:before { content: "\f11d"; }
.flaticon-031-bunny-30:before { content: "\f11e"; }
.flaticon-032-bunny-31:before { content: "\f11f"; }
.flaticon-033-bunny-32:before { content: "\f120"; }
.flaticon-034-bunny-33:before { content: "\f121"; }
.flaticon-035-bunny-34:before { content: "\f122"; }
.flaticon-036-bunny-35:before { content: "\f123"; }
.flaticon-037-bunny-36:before { content: "\f124"; }
.flaticon-038-bunny-37:before { content: "\f125"; }
.flaticon-039-bunny-38:before { content: "\f126"; }
.flaticon-040-bunny-39:before { content: "\f127"; }
.flaticon-041-bunny-40:before { content: "\f128"; }
.flaticon-042-bunny-41:before { content: "\f129"; }
.flaticon-043-bunny-42:before { content: "\f12a"; }
.flaticon-044-bunny-43:before { content: "\f12b"; }
.flaticon-045-bunny-44:before { content: "\f12c"; }
.flaticon-046-bunny-45:before { content: "\f12d"; }
.flaticon-047-bunny-46:before { content: "\f12e"; }
.flaticon-048-bunny-47:before { content: "\f12f"; }
.flaticon-049-bunny-48:before { content: "\f130"; }
.flaticon-050-bunny-49:before { content: "\f131"; }
.flaticon-051-bunny-50:before { content: "\f132"; }
.flaticon-052-bunny-51:before { content: "\f133"; }
.flaticon-053-bunny-52:before { content: "\f134"; }
.flaticon-054-bunny-53:before { content: "\f135"; }
.flaticon-055-bunny-54:before { content: "\f136"; }
.flaticon-056-bunny-55:before { content: "\f137"; }
.flaticon-057-bunny-56:before { content: "\f138"; }
.flaticon-058-bunny-57:before { content: "\f139"; }
.flaticon-059-bunny-58:before { content: "\f13a"; }
.flaticon-060-bunny-59:before { content: "\f13b"; }
.flaticon-061-bunny-60:before { content: "\f13c"; }
.flaticon-062-bunny-61:before { content: "\f13d"; }
.flaticon-063-bunny-62:before { content: "\f13e"; }
.flaticon-064-bunny-63:before { content: "\f13f"; }
.flaticon-065-bunny-64:before { content: "\f140"; }
.flaticon-066-bunny-65:before { content: "\f141"; }
.flaticon-067-bunny-66:before { content: "\f142"; }
.flaticon-068-bunny-67:before { content: "\f143"; }
.flaticon-069-bunny-68:before { content: "\f144"; }
.flaticon-070-bunny-69:before { content: "\f145"; }
.flaticon-071-bunny-70:before { content: "\f146"; }
.flaticon-072-bunny-71:before { content: "\f147"; }
.flaticon-073-bunny-72:before { content: "\f148"; }
.flaticon-074-bunny-73:before { content: "\f149"; }
.flaticon-075-bunny-74:before { content: "\f14a"; }
.flaticon-076-bunny-75:before { content: "\f14b"; }
.flaticon-077-bunny-76:before { content: "\f14c"; }
.flaticon-078-bunny-77:before { content: "\f14d"; }
.flaticon-079-bunny-78:before { content: "\f14e"; }
.flaticon-080-bunny-79:before { content: "\f14f"; }
    
    $font-Flaticon-001-bunny: "\f100";
    $font-Flaticon-002-bunny-1: "\f101";
    $font-Flaticon-003-bunny-2: "\f102";
    $font-Flaticon-004-bunny-3: "\f103";
    $font-Flaticon-005-bunny-4: "\f104";
    $font-Flaticon-006-bunny-5: "\f105";
    $font-Flaticon-007-bunny-6: "\f106";
    $font-Flaticon-008-bunny-7: "\f107";
    $font-Flaticon-009-bunny-8: "\f108";
    $font-Flaticon-010-bunny-9: "\f109";
    $font-Flaticon-011-bunny-10: "\f10a";
    $font-Flaticon-012-bunny-11: "\f10b";
    $font-Flaticon-013-bunny-12: "\f10c";
    $font-Flaticon-014-bunny-13: "\f10d";
    $font-Flaticon-015-bunny-14: "\f10e";
    $font-Flaticon-016-bunny-15: "\f10f";
    $font-Flaticon-017-bunny-16: "\f110";
    $font-Flaticon-018-bunny-17: "\f111";
    $font-Flaticon-019-bunny-18: "\f112";
    $font-Flaticon-020-bunny-19: "\f113";
    $font-Flaticon-021-bunny-20: "\f114";
    $font-Flaticon-022-bunny-21: "\f115";
    $font-Flaticon-023-bunny-22: "\f116";
    $font-Flaticon-024-bunny-23: "\f117";
    $font-Flaticon-025-bunny-24: "\f118";
    $font-Flaticon-026-bunny-25: "\f119";
    $font-Flaticon-027-bunny-26: "\f11a";
    $font-Flaticon-028-bunny-27: "\f11b";
    $font-Flaticon-029-bunny-28: "\f11c";
    $font-Flaticon-030-bunny-29: "\f11d";
    $font-Flaticon-031-bunny-30: "\f11e";
    $font-Flaticon-032-bunny-31: "\f11f";
    $font-Flaticon-033-bunny-32: "\f120";
    $font-Flaticon-034-bunny-33: "\f121";
    $font-Flaticon-035-bunny-34: "\f122";
    $font-Flaticon-036-bunny-35: "\f123";
    $font-Flaticon-037-bunny-36: "\f124";
    $font-Flaticon-038-bunny-37: "\f125";
    $font-Flaticon-039-bunny-38: "\f126";
    $font-Flaticon-040-bunny-39: "\f127";
    $font-Flaticon-041-bunny-40: "\f128";
    $font-Flaticon-042-bunny-41: "\f129";
    $font-Flaticon-043-bunny-42: "\f12a";
    $font-Flaticon-044-bunny-43: "\f12b";
    $font-Flaticon-045-bunny-44: "\f12c";
    $font-Flaticon-046-bunny-45: "\f12d";
    $font-Flaticon-047-bunny-46: "\f12e";
    $font-Flaticon-048-bunny-47: "\f12f";
    $font-Flaticon-049-bunny-48: "\f130";
    $font-Flaticon-050-bunny-49: "\f131";
    $font-Flaticon-051-bunny-50: "\f132";
    $font-Flaticon-052-bunny-51: "\f133";
    $font-Flaticon-053-bunny-52: "\f134";
    $font-Flaticon-054-bunny-53: "\f135";
    $font-Flaticon-055-bunny-54: "\f136";
    $font-Flaticon-056-bunny-55: "\f137";
    $font-Flaticon-057-bunny-56: "\f138";
    $font-Flaticon-058-bunny-57: "\f139";
    $font-Flaticon-059-bunny-58: "\f13a";
    $font-Flaticon-060-bunny-59: "\f13b";
    $font-Flaticon-061-bunny-60: "\f13c";
    $font-Flaticon-062-bunny-61: "\f13d";
    $font-Flaticon-063-bunny-62: "\f13e";
    $font-Flaticon-064-bunny-63: "\f13f";
    $font-Flaticon-065-bunny-64: "\f140";
    $font-Flaticon-066-bunny-65: "\f141";
    $font-Flaticon-067-bunny-66: "\f142";
    $font-Flaticon-068-bunny-67: "\f143";
    $font-Flaticon-069-bunny-68: "\f144";
    $font-Flaticon-070-bunny-69: "\f145";
    $font-Flaticon-071-bunny-70: "\f146";
    $font-Flaticon-072-bunny-71: "\f147";
    $font-Flaticon-073-bunny-72: "\f148";
    $font-Flaticon-074-bunny-73: "\f149";
    $font-Flaticon-075-bunny-74: "\f14a";
    $font-Flaticon-076-bunny-75: "\f14b";
    $font-Flaticon-077-bunny-76: "\f14c";
    $font-Flaticon-078-bunny-77: "\f14d";
    $font-Flaticon-079-bunny-78: "\f14e";
    $font-Flaticon-080-bunny-79: "\f14f";