---
export type Props = { children: unknown };
---

<style>
  @import "@/styles/custom-media-queries.css";

  @layer components {
    h1 {
      line-height: var(--line-height-tighter);
      font-weight: 800;
      flex-grow: 1;
      margin-block: 3rem;

      /* Font size */
      font-size: 2.5rem;
      @media (--sm-viewport) {
        font-size: 4rem;
      }
      @media (--md-viewport) {
        font-size: 6rem;
      }
      @media (--lg-up-viewport) {
        /**
         * Unlike HomepageTitle with its fixed text, some of our page titles 
         * are too big to make the font any larger than this
         */
        font-size: 7rem;
      }
    }
  }
</style>

<h1><slot /></h1>
