---
export type Props = { children: unknown };
---

<style>
  @import "@/styles/custom-media-queries.css";

  @layer components {
    h2 {
      /* Font */
      font-weight: 600;

      &:first-child {
        margin-block-start: 0;
      }
    }
  }
</style>

<h2><slot /></h2>
