---
export type Props = {
  id?: string;
  children: unknown;
};
---

<style>
  @layer components {
    h2:first-child {
      margin-block-start: 0;
    }
  }
</style>

<h2 id={Astro.props.id}><slot /></h2>
