---
import HomeLink from "@/components/HomeLink.astro";
import Main from "@/components/Main.astro";
import PageTitle from "@/components/heading/PageTitle.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout
  type="website"
  title="Nothing here"
  description="404: Item not found"
>
  <Main size="small">
    <PageTitle>Nothing exists here.</PageTitle>
    <p>
      Go back to <HomeLink />
    </p>
  </Main>
</BaseLayout>
