---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Bio from "@/components/Bio.astro";
import SectionHeading from "@/components/heading/SectionHeading.astro";
import ThemedBunny from "@/components/ThemedBunny.astro";
import HomepageTitle from "@/components/heading/HomepageTitle.astro";
import { getAlan } from "@/content-utils/query/authors";
import ArticleList from "@/components/article/ArticleList.astro";
import SiteFooter from "@/components/SiteFooter.astro";
import ProjectList from "@/components/project/ProjectList.astro";
import pkg from "@root/package.json";
import Main from "@/components/Main.astro";

const author = await getAlan();
const name = author.data.name;
---

<style>
  @import "@/styles/custom-media-queries.css";

  @layer page {
    header {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: var(--spacing-10);
      align-items: flex-start;

      margin-block-start: 4rem;
      @media (--sm-up-viewport) {
        gap: var(--spacing-12);
        margin-block-start: 6rem;
      }

      @media (--lg-up-viewport) {
        margin-block-end: 1rem;

        .bun {
          position: absolute;
          top: 0;
          right: 0;
        }
      }
    }

    div.sections {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-10);
    }
  }
</style>

<BaseLayout title={name} type="website" description={pkg.description}>
  <Main size="medium">
    <div class="sections">
      <header>
        <HomepageTitle>{name}</HomepageTitle>
        <span class="bun"><ThemedBunny /></span>
      </header>
      <Bio width="narrow" font="normal" />
      <section>
        <SectionHeading id="writing">Writing</SectionHeading>
        <ArticleList />
      </section>
      <section>
        <SectionHeading id="projects">Projects</SectionHeading>
        <ProjectList />
      </section>
    </div>
    <SiteFooter location="standalone" />
  </Main>
</BaseLayout>
