---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Bio from "@/components/Bio.astro";
import SectionHeading from "@/components/heading/SectionHeading.astro";
import ThemedBunny from "@/components/ThemedBunny.astro";
import HomepageTitle from "@/components/heading/HomepageTitle.astro";
import { getAlan } from "@/content-utils/query/authors";
import ArticleList from "@/components/article/ArticleList.astro";
import SiteFooter from "@/components/SiteFooter.astro";
import ProjectList from "@/components/project/ProjectList.astro";
import pkg from "@root/package.json";
import Main from "@/components/Main.astro";

const author = await getAlan();
const name = author.data.name;
---

<style>
  @import "@/styles/custom-media-queries.css";

  @layer page {
    header {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-10);
      align-items: flex-start;

      margin-block: 4rem 2rem;
      @media (--sm-up-viewport) {
        gap: var(--spacing-12);
        margin-block: 6rem 3rem;
      }

      @media (--lg-up-viewport) {
        gap: 0;
        flex-direction: row;
      }
    }
  }
</style>

<BaseLayout title={name} type="website" description={pkg.description}>
  <Main size="medium">
    <header>
      <HomepageTitle>{name}</HomepageTitle>
      <ThemedBunny />
    </header>
    <Bio width="narrow" font="normal" />
    <SectionHeading>Writing</SectionHeading>
    <ArticleList />
    <SectionHeading>Projects</SectionHeading>
    <ProjectList />
    <SiteFooter location="standalone" />
  </Main>
</BaseLayout>
