---
import PeriodWrapper from "./PeriodWrapper.astro";
import ContactLink from "./social/ContactLink.astro";
import EmailLink from "./social/EmailLink.astro";
import FeedLink from "./social/FeedLink.astro";

type Props = {
  width: "narrow" | "wide";
  font: "small" | "normal";
};

const { width, font } = Astro.props;
---

{width === "wide" && <h1>About the Author</h1>}
<section class:list={[width, font]}>
  <p>
    Alan Norbauer was a web developer in a past life but now lives in{" "}
    <a href="https://en.wikipedia.org/wiki/Weetzie_Bat">Los Angeles</a>{" "}
    doing who knows what.{" "}
  </p>
  <p>
    He's extremely relieved to no longer be living in{" "}
    <a href="https://www.ted.com/talks/james_howard_kunstler_dissects_suburbia">
      Silicon Valley</a
    >{" "}
    which almost killed his soul.
  </p>
  <p>
    Alan is so old that you should call him "gramps." Alan enjoys{" "}
    <a href="https://www.youtube.com/watch?v=K0XJJBCX1O0">bad music</a>{" "}
    and{" "}
    <a href="https://www.amazon.com/South-Border-West-Sun-Novel/dp/0679767398">
      bad novels</a
    >. His politics are succinctly{" "}
    <a href="https://www.youtube.com/watch?v=pRl212Y440Q">
      summarized by Divine</a
    >. He still doesn't know how to use Snapchat or TikTok.
  </p>
  <p>
    If you'd like to know a little about Alan's personal life you can take a
    peek at{" "}
    <a href="https://facebook.com/alan.norbauer">his facebook profile</a>, or if
    you'd like to know way too much about his personal life you can watch <a
      href="https://youtu.be/vQYUwZFVbjg">this documentary</a
    > on Youtube.
  </p>
  <p>
    Opinions expressed are solely his own and do not express the views or
    opinions of his employer.
  </p>
  <p>
    You can subscribe to this site's <PeriodWrapper
      ><FeedLink icon={false} text="RSS feed" /></PeriodWrapper
    >
    You reach Alan by{" "}
    <EmailLink icon={false} text="e-mail" /> or through <ContactLink
      icon={false}
      text="other contact methods"
    />.
  </p>
</section>

<style>
  @layer components {
    h1 {
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 1rem;
      font-size: 1rem;
      line-height: var(--line-height-normal);
      font-weight: 800;
    }
    section {
      line-height: var(--line-height-normal);
      column-count: 1;

      &.small {
        font-size: 1rem;
      }

      &.wide {
        @media (--lg-up-viewport) {
          column-count: auto;
          column-width: 16rem;
        }
      }
    }
    p {
      margin-bottom: 1rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
</style>
