---
export type Props = { class?: string | undefined };
---

<style>
  @layer components {
    li {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      &:only-of-type {
        /** 
         * When we're the only list item (not in the row, but in the entire 
         * list) then take up the whole column 
         */
        grid-column: 1 / span 2;
      }
    }
  }
</style>

<li><slot /></li>
