---
import { Icon } from "astro-icon/components";
---

<style>
  @layer components {
    button {
      position: fixed;
      right: 10px;
      bottom: 10px;
      cursor: pointer;
      border-radius: var(--border-radius-sm);
      padding: 5px;
      background: var(--bg-card);

      /**
       * Without this media query the button gets stuck after you tap it on 
       * touch devices that don't support true hover. So don't have this affect
       * there.
       */
      @media (hover: hover) {
        &:hover {
          background: var(--bg-selection);
          color: var(--text-selection);
          transition: background var(--durations-color-scheme);
        }
      }
    }

    html[data-theme="light"] .dark {
      display: none;
    }

    html[data-theme="dark"] .light {
      display: none;
    }
  }
</style>

<script>
  import { toggleTheme } from "@/scripts/theme.js";

  function assertIsButtonElement(
    element: unknown
  ): asserts element is HTMLButtonElement {
    if (!(element instanceof HTMLButtonElement)) {
      throw new Error(`Expected HTMLButtonElement`);
    }
  }

  // react to user selecting different theme option
  const button = document.getElementById("theme-switcher");
  assertIsButtonElement(button);
  button.addEventListener("click", toggleTheme);
</script>

<button
  id="theme-switcher"
  data-testid="theme-switcher"
  aria-label="Toggle light/dark theme"
>
  <Icon
    class="light"
    name="heroicons:sun-solid"
    size={16}
    aria-labelledby="theme-switcher"
  />
  <Icon
    class="dark"
    name="heroicons:moon-solid"
    size={16}
    aria-labelledby="theme-switcher"
  />
</button>
